#{extends 'main.html' /}
#{set title:'MARKS!' /}

<header>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/index.css'}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
</header>

<div class="index_body">

    <div class="publicidad">
        
        <h1 class="publi_h1">La única calculadora de notas que necesitarás !</h1>
        <ul class="lista_publi">
            <li>Mira tu media en todo momento</li>
            <li>Planifícate</li>
            <li>Triunfa !</li>
        </ul>

    </div>

    <div class="imagen">
        <img src="/public/images/108934942-.jpg" alt="agenda">
    </div>

</div>