<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/notebook.png'}">

    </head>

       
        <nav class="nav">
            <div class="logo">
                <a href="@{Application.index()}"><img src="/public/images/notebook.png" alt="notebook"></a>
                <a href="@{Application.index()}"> <h1>MARKS!</h1></a>
            </div>
            <div class="list">
            <ul class="lista">
                <li><a  class="links" href="/login"> Login</a></li>
                <li><a  class="links" href="/logout"> Log Out</a></li>
                <li><a  class="links" href="@{Application.signup()}"> Sign Up</a></li>
                <li><a  class="links" href="@{Application.deleteUser(user)}"> Delete account</a></li>
            </ul>
</div>
        </nav>
    <body>
       
        #{doLayout /}
        
    </body>
</html>
